<div class="container mt-3">
  <div class="card" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    <div class="card-body">
      <div class="card-header"> <h3>Formulario productos</h3></div>
      <div class="form mt-4">
          <div class="row">
            <div class="col-md-6">
                  <label for="">Ingresar nombre del producto *</label>
                  <input [(ngModel)]="nombre"  name="nombre" required
                    class="form-control">
                <span *ngIf="nombre.length " class="validar">
                      (Debe tener como mínimo 10 caracteres)
                </span>

              </div>
              <div class="col-md-6">
                  <label for="">Categoria</label>
                  <select class="form-control" name="miselect" [(ngModel)]="categoria" >
                      <option  *ngFor="let item of categori" value={{item.id}} >{{item.cat_nombre}}</option>
                  </select>
              </div>
              <div class="col-md-6">
                  <label for="">Ingresar proveedor</label>
                  <select class="form-control" name="miselect2" [(ngModel)]="provee" >
                      <option  *ngFor="let item of proveedor" value={{item.id}}>{{item.pro_nombre}}</option>


                  </select>
              </div>
              <div class="col-md-6">
                  <label for="">Ingresar cantidad</label>
                  <input type="number"  [(ngModel)]="cantidad" class="form-control" >
              </div>
              <div class="col-md-6">
                  <label for="">Ingresar precio</label>
                  <input type="number"  [(ngModel)]="precio" class="form-control" >
              </div>
              <div class="col-md-6 mt-4">

                <button type="button" class="btn btn-primary" name="button" (click)="holaM()">Agregar</button>
              </div>

              <div class="col-md-12 mt-5" >
                  <table class="table dark">
                      <thead>
                          <th>nombre</th>
                          <th>categoria</th>
                          <th>cantidad</th>
                          <th>proveedor</th>
                          <th>precio</th>
                          <th>Accion</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of lista" >
                            <td>{{item.nombre}}</td>
                            <td>{{item.categoria}}</td>
                            <td>{{item.cantidad}}</td>
                            <td>{{item.proveedor}}</td>
                            <td>{{item.precio}}</td>
                            <td >
                              <a class="material-icons" (click)="eliminar(item)">
                                  delete_outline
                              </a>

                            </td>
                        </tr>
                      </tbody>
                  </table>
              </div>
              <div class="col-md-12">
                <div class="row mt-5">
                  <div class="col-10">
                    <a href="/product/list" class="btn btn-primary">Regresar</a>
                  </div>
                  <div class="col-2">
                    <a (click)="guardar()"  class="btn btn-primary">Guardar</a>
                  </div>
                </div>
              </div>



          </div>
      </div>
    </div>
  </div>

</div>
