<div class="container mt-3">
  <div class="card" >
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="card-header"> <h3>Lista Productos </h3></div>
        <div class="">
          <a href="/product/agregar" class="btn btn-primary">Agregar</a>
        </div>
      </div>
        <div class="row justify-content-center">
          <div class="col-6 text-center">
            <input type="text" class="form-control" placeholder="Buscar producto"
            #txtSearch
            (keyup)="onSearch( txtSearch.value)" >

        </div>
  </div>

          <table class="table dark mt-5">
              <thead>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Categoria</th>
                  <th>Proveedor</th>
                  <th>cantidad</th>
                  <th>precio</th>
                  <th class="justify-content-center text-center">Acciones</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of lista | filtro:search">
                  <td>{{item.id}}</td>
                  <td>{{item.nombre}}</td>
                  <td>{{item.categoria}}</td>
                  <td>{{item.proveedor}}</td>
                  <td>{{item.cantidad}}</td>
                  <td>{{item.precio}}</td>
                  <td class="entrada" (click)="modal.open(contenido)" (click)="entrada(item.id)" >Entrada</td>
                  <td class="salida" (click)="modal.open(contenidoo)" (click)="salida(item.id)">salida</td>
                </tr>
              </tbody>
          </table>

      </div>
  </div>
  <ng-template #contenido let-modal >
      <div class="modal-header">
          <h4 class="modal-title">Entrada</h4>
          <button type="button" aria-label="close" (click)="modal.dismiss()">
            <span aria-hidden="true">X</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                    <label >Nombre del producto</label>
                    <input type="text" class="form-control" disabled [(ngModel)]="nombre" placeholder="nombre">
                  </div>
                  <div class="col-md-12">
                    <label >Ingresa la cantidad a ingresar</label>
                    <input type="text" class="form-control" [(ngModel)]="cantidad" placeholder="cantidad">
                  </div>
                  <div class="col-md-12">
                    <label>ingresa precio de total</label>
                    <input type="text" class="form-control" [(ngModel)]="precio" placeholder="precio">
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close()" (click)="limpiar()" name="button">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="modal.close()" (click)="guardar()" name="button">Guardar</button>
      </div>
  </ng-template>

  <ng-template #contenidoo let-modal >
      <div class="modal-header">
          <h4 class="modal-title">Salida</h4>
          <button type="button" aria-label="close" (click)="modal.dismiss()">
            <span aria-hidden="true">X</span>
          </button>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                    <label >Nombre del producto</label>
                    <input type="text" class="form-control" disabled [(ngModel)]="nombre" placeholder="nombre">
                  </div>
                  <div class="col-md-12">
                    <label >Ingresa la cantidad a sacar</label>
                    <input type="text" class="form-control" [(ngModel)]="cantidad" placeholder="cantidad">
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="modal.close()" (click)="limpiar()" name="button">Cancelar</button>
          <button type="button" class="btn btn-success" (click)="modal.close()" (click)="guardarSalida()" name="button">Guardar</button>
      </div>
  </ng-template>


</div>
