<div class="container mt-3">
  <div class="card" >
    <div class="card-body">
      <div class="header"> <h3>Formulario categoria </h3></div>
      <div class="form mt-4">
          <div class="row">
            <div class="col-md-6">
                  <label for="">Ingresar nombre *</label>
                  <input [(ngModel)]="nombre"  name="nombre" required
                    class="form-control">
              </div>
              <div class="col-md-6">
                    <label for="">Ingresar telefono *</label>
                    <input [(ngModel)]="telefono"  name="telefono" required
                      class="form-control">
                </div>
                <div class="col-md-6">
                      <label for="">Ingresar direccion *</label>
                      <input [(ngModel)]="direccion"  name="direccion" required
                        class="form-control">
                  </div>
              <div class="col-md-12">
                <div class="row mt-5">
                  <div class="col-10">
                    <a href="/proveedor/listar" class="btn btn-primary">Regresar</a>
                  </div>
                  <div class="col-2">
                    <a (click)="guardar()"  class="btn btn-primary">Guardar</a>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>

</div>
