<div class="container mt-3">
  <div class="card" >
    <div class="card-body">
      <div class="header"> <h3>Editar Categoria</h3></div>
      <div class="form mt-4">
          <div class="row">

              <div class="col-md-6">
                    <label for="">Ingresar nombre *</label>
                    <input     [(ngModel)]="nombre"  name="nombre" required
                      class="form-control">
              </div>

          <p>{{nombre}}</p>
              <div class="col-md-12">
                <div class="row mt-5">
                  <div class="col-10">
                    <a href="/categori/list" class="btn btn-primary">Regresar</a>
                  </div>
                  <div class="col-2">
                    <a (click)="guardar()"  class="btn btn-primary">Guardar</a>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>

</div>
