:root{
  --primary: #111B54;
  --light: #ffffff;
  --grey: #efefef;
}
.bg-primary{
  background-color: #112338 !important;
}
a:hover {
  text-decoration: none;
}

body{
  overflow: hidden;
  font-family: 'Muli', 'sans-serif';
  font-weight: 300;

}

#sidebar-container{
  min-height: 100vh;
}

#sidebar-container .logo {
  padding: .875rem 1.25rem;
}

#sidebar-container .menu {
  width: 18rem;
}
