
  <!-- Fonts -->

  <body>
    <div class="d-flex">
      <div id="sidebar-container" class="bg-primary">
        <div class="logo">
          <h4 class="text-light">Mercadeo</h4>
        </div>
        <div class="menu">
          <a href="/product" class="d-block text-light p-3">Productos</a>
          <a href="/categori" class="d-block text-light p-3">Categorias</a>
          <a href="/proveedor" class="d-block text-light p-3">Proovedores</a>
        </div>
      </div>
      <div class="container">
        <main>
        <router-outlet></router-outlet>
        </main>
      </div>

    </div>

  </body>
