<div class="container mt-3">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <div class="card" >
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div class="header"> <h3>Lista Proveedores </h3></div>
        <div class="">
          <a href="/proveedor/agregar" class="btn btn-primary">Agregar</a>
        </div>
      </div>
        <div class="row justify-content-center">

  </div>
        <div class="container">
          <div class="col-md-6">
            <table class="table dark mt-5">
                <thead>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Acciones</th>
                </thead>
                <tbody>
                  <tr *ngFor="let item of lista">
                      <td>{{item.id}}</td>
                      <td>{{item.pro_nombre}}</td>
                      <td>{{item.pro_telefono}}</td>
                      <td>{{item.pro_direccion}}</td>
                      <td class="d-flex">
                        <span class="material-icons" (click)="eliminar(item.id)">
                            delete_outline
                        </span>
                        <a class="material-icons"  href="#"  [routerLink]="['/proveedor/', 'editar', item.id  ]">
                            edit
                        </a>
                      </td>
                  </tr>
                </tbody>
            </table>
          </div>

        </div>


      </div>
  </div>
</div>
